<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>가성비 식당을 알려줘~~~</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--    range slider-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <!--range slider js-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2c6ce92980cce87d63d1803b05125714"></script>


    <script>
        $(document).ready(function () {
            // index.html 로드가 완료되면 자동으로 show_star() 함수를 호출합니다.
            show_di();
            let $range = $(".js-range-slider"),
                $inputFrom = $(".js-input-from"),
                $inputTo = $(".js-input-to"),
                instance,
                min = 1000,
                max = 15000,
                from = 1000,
                to = 0;

            console.log($range)

            $range.ionRangeSlider({
                skin: "round",
                type: "double",
                min: min,
                max: max,
                from: 2000,
                to: 3000,
                onStart: updateInputs,
                onChange: updateInputs
            });
            instance = $range.data("ionRangeSlider");

            function updateInputs(data) {
                from = data.from;
                to = data.to;

                $inputFrom.prop("value", from);
                $inputTo.prop("value", to);
            }

            $inputFrom.on("input", function () {
                var val = $(this).prop("value");

                // validate
                if (val < min) {
                    val = min;
                } else if (val > to) {
                    val = to;
                }

                instance.update({
                    from: val
                });
            });

            $inputTo.on("input", function () {
                var val = $(this).prop("value");

                // validate
                if (val < from) {
                    val = from;
                } else if (val > max) {
                    val = max;
                }

                instance.update({
                    to: val
                });
            });
        });


        function show_di() {

            $.ajax({
                    type: "GET",
                    url: "/api/list",
                    data: {},
                    success: function (response) {

                        let dinings = response['di_list'];


                        for (let i = 0; i < dinings.length; i++) {

                            let url = dinings[i]['img_url'];
                            let price = dinings[i]['price'];
                            let menu = dinings[i]['menu'];
                            let name = dinings[i]['name'];


                            let temp =
                                '<div class="col-md-4">' +
                                '    <div class="card mb-4 shadow-sm">' +
                                '        <img src=' + '"' + url + '"' + 'height="225" width="100%"/>\n' +
                                '        <div class="card-body" style="text-align: center">\n' +
                                '            <h3 class="card-text">' + name + '</h3>' +
                                '            <div class="card-text">' + menu + '</div>' +
                                '            <div class="card-text" style="color: crimson">' + price + '</div>' +
                                '            <div class="d-flex justify-content-between align-items-center">\n' +
                                '                <div class="btn-group">\n' +
                                '                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter' + i + '">\n' +
                                '                    View</button>\n' +
                                '<div class="modal fade restaurant-modal" id="exampleModalCenter' + i + '" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">\n' +
                                '  <div class="modal-dialog modal-dialog-centered" role="document">\n' +
                                '    <div class="modal-content">\n' +
                                '      <div class="modal-header">\n' +
                                '        <h5 class="modal-title" id="exampleModalCenterTitle">' + name + '</h5>' +
                                '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                                '          <span aria-hidden="true">&times;</span>\n' +
                                '        </button>\n' +
                                '      </div>\n' +
                                '      <div class="modal-body">\n' +
                                '        <div id="map" style="width:500px;height:400px;"></div>' +
                                '      </div>\n' +
                                '      <div class="modal-footer">\n' +
                                '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\n' +
                                '      </div>\n' +
                                '    </div>\n' +
                                '  </div>\n' +
                                '</div>' +
                                '                </div>\n' +
                                '            </div>\n' +
                                '        </div>\n' +
                                '    </div>\n' +
                                '</div>\n'


                            $('#list').append(temp);

                            $('.restaurant-modal').on('show.bs.modal', function (e) {
                                var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
                                var options = { //지도를 생성할 때 필요한 기본 옵션
                                    center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
                                    level: 3 //지도의 레벨(확대, 축소 정도)
                                };

                                var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
                                // console.log(map)
                            });


                        }

                    }
                }
            );
        }

        function serch() {

            let first = $('#first').val();
            let last = $('#last').val();

            $.ajax({
                type: 'POST',
                url: '/api/post',
                data: {
                    'first': first,
                    'last': last
                },
                success: function (response) {

                    $('#list').empty();

                    let filterDi = response['result'];

                    for (let i = 0; i < filterDi.length; i++) {

                        let url = filterDi[i]['img_url'];
                        let price = filterDi[i]['price'];
                        let menu = filterDi[i]['menu'];
                        let name = filterDi[i]['name'];


                        let temp =
                            '<div class="col-md-4">' +
                            '    <div class="card mb-4 shadow-sm">' +
                            '        <img src=' + '"' + url + '"' + 'height="225" width="100%"/>\n' +
                            '        <div class="card-body" style="text-align: center">\n' +
                            '            <h3 class="card-text">' + name + '</h3>' +
                            '            <div class="card-text">' + menu + '</div>' +
                            '            <div class="card-text" style="color: crimson">' + price + '</div>' +
                            '            <div class="d-flex justify-content-between align-items-center">\n' +
                            '                <div class="btn-group">\n' +
                            '                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter' + i + '">\n' +
                            '                    View</button>\n' +
                            '<div class="modal fade" id="exampleModalCenter' + i + '" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">\n' +
                            '  <div class="modal-dialog modal-dialog-centered" role="document">\n' +
                            '    <div class="modal-content">\n' +
                            '      <div class="modal-header">\n' +
                            '        <h5 class="modal-title" id="exampleModalCenterTitle">' + name + '</h5>' +
                            '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                            '          <span aria-hidden="true">&times;</span>\n' +
                            '        </button>\n' +
                            '      </div>\n' +
                            '      <div class="modal-body">\n' +
                            '        ㅇㅇㅇㅇㅇㅇ' +
                            '      </div>\n' +
                            '      <div class="modal-footer">\n' +
                            '        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\n' +
                            '      </div>\n' +
                            '    </div>\n' +
                            '  </div>\n' +
                            '</div>' +
                            '                </div>\n' +
                            '            </div>\n' +
                            '        </div>\n' +
                            '    </div>\n' +
                            '</div>\n'


                        $('#list').append(temp);


                    }
                    ;

                    alert('필터링 되었습니다!')


                }
            })

        }
    </script>
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">개발자: 나다 새끼들아 </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email 하지마</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                     viewBox="0 0 24 24" focusable="false">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                    <circle cx="12" cy="13" r="4"/>
                </svg>
                <strong>야, 너두 밥 먹을 수 있어!</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>당신의 가격대에 맞게 회기 식당을 추천해 드립니다</h1>
            <p class="lead text-muted"> 오늘 점심 뭐 먹지? 오늘 후배 밥 사주기로 했는데 비싸지 않은게 뭐가 있을까? 오늘 선배한테 밥 얻어 먹기로 했는데
                비싸고 맛있는게 무엇일까? 경제적인 자취 라이프를 위해 무엇을 먹어야 할까?</p>
            <img src="https://www.khu.ac.kr/kor/resources/user/img/mobile/common/logo.jpg">


        </div>
    </section>


    <div class="range-slider">
        <input type="text" class="js-range-slider" value=""/>
    </div>
    <div class="extra-controls">
        <input type="text" id="first" class="js-input-from" value="0"/>
        <input type="text" id="last" class="js-input-to" value="0"/>
        <button onclick="serch()">검색</button>
    </div>


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row" id="list">

            </div>
        </div>
    </div>

</main>
</body>
</html>